body {
  background: #fde4f2;
  font-size: 30px;
}
.calc_container {
  display: flex;
  margin-bottom: 10px;
}
.pad_container {
  display: flex;
}
.pad {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: black;
  color: blanchedalmond;
  cursor: pointer;
  margin: 5px;
}
.x,
.y,
.z,
.plus,
.equals {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.dentaku {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: gray;
  border: 1px solid black;
  cursor: pointer;
}
.btn_clear {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: gray;
  border: 1px solid black;
  cursor: pointer;
}
.btn_0 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background: gray;
  border: 1px solid black;
}
.dentaku_bottom {
  display: grid;
  grid-template-columns: 100px 50px 50px;
}
