/*======================================================================
                                header
========================================================================*/
.header_container {
    color: black;
    font-size: 10px;
    padding: 0px 10px;
    height: 56px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: chartreuse;
}
/*
Start
*/
.header_start_box {
    height: 100%;
    width: 240px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    gap:10px;
    background-color: bisque;
}

.header_start_menu_box {
    width: 40px;
    height: 70%;
    border-radius: 50%;
    padding:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;

}

.header_start_menu_box:hover{
    background-color: rgb(241, 238, 238);
}

.header_start_youtube_icon{
    width:110px;
    height:100%;
    padding:8px;
    position: relative;
    display: flex;
    align-items: center;

}
.header_start_youtube_icon:hover .header_tooltip {
    background-color: rgb(255, 245, 219);
    border: 1px solid black;
    visibility: visible;
}
/*
Center
*/

.header_center_box {
    height: 75%;
    width: 640px;
    display: flex;
    margin-right: 45px;
}
.header_center_box input {
    width: 540px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    font-size: 16px;
}

.header_center_box button {
    width: 64px;
    height: 100%;
    background-color: rgb(253, 254, 255);
    border: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header_center_box button img {
    width: 30px;
    height: 30px;
}

.header_center_box button:hover {
    background-color: rgb(241, 238, 238);
}

.header_center_box button:hover .header_tooltip {
    background-color: rgb(255, 245, 219);
    border: 1px solid black;
    visibility: visible;
}
.header_center_box_mic {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header_center_box_mic:hover {
    background-color: rgb(241, 238, 238)
}
.header_center_box_mic:hover .header_tooltip {
    background-color: rgb(255, 245, 219);
    visibility: visible;
    border: 1px solid black;
}
/*
End
*/

.header_end_box {
    height: 100%;
    width: 156px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.header_end_icon_box {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.header_end_usericon {
    width:100%;
    height:100%;
    border-radius: 50%;
}
.header_end_icon_box:hover {
    background-color: rgb(241, 238, 238);
}

.header_end_icon_box:hover .header_tooltip {
    background-color: rgb(255, 245, 219);
    visibility: visible;
    border: 1px solid black;
}

/*
header_start,header_center,header_end ( Tooltip )
*/
.header_tooltip {
    width: auto;
    height: 20px;
    color: black;
    position: absolute;
    right: -30px;
    top: 30px;
    visibility: hidden;
    font-size: 14px;
}


/*===============================================================
                            Navigation
===============================================================*/
nav{
    width:240px;
    height: 100%;
    background-color: yellowgreen;
}

nav li{
    width: 175px;
    height: 40px;
    margin-left: 8px;
    padding-left: 2px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 5px;
    position: relative;
    background-color: burlywood;
}