@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

/* general styling */
.media-scroller {
	display: grid;
	gap: var(--size-3);
	grid-auto-flow: column;
	grid-auto-columns: 20%;

	overflow-x: auto;
	overscroll-behavior-inline: contain;
}

.container {
	inline-size: min(100% - 4rem, 70rem);
	margin-inline: auto;
}

.flow {
	display: grid;
	gap: var(--size-3);
}

.page-header {
	padding-block: var(--size-9);
	margin-block-end: var(--size-9);
	background: var(--gradient-16);
	color: var(--gray-0);
	box-shadow: var(--shadow-2);
}

.page-title {
	font-size: var(--font-size-fluid-3);
}

.page-subtitle {
	font-size: var(--font-size-fluid-1);
}

.section-title {
	padding-inline-start: var(--size-6);
	margin-block: var(--size-9) var(--size-3);
}
