.container1 {
    padding-top: 45px;
    padding: 30px;
    display: flex;
    gap: 5px;
  }
  .item:nth-child(1) {
    width: 100%;
  }
  /* .item:nth-child(1) {
    width: 100;
  } */

  iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
  .recommend {
    display: flex;
    gap: 5px;
    font-size: 14px;
    width: 400px;
    padding: 10px;
  }
  .recommend img {
    width: 170px;
  }

  .item:nth-child(3) {
    display: none;
  }

  @media (width < 980px) {
    .container1 {
      display: grid;
      grid-template-columns: 1fr;
    }
    .comments {
      display: none;
    }
    .recommend {
      width: 100%;
    }
    .item:nth-child(3) {
      display: block;
    }
  }

  /* narigi cssning copysi */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    position: relative;
  }
  .container {
    width: 100%;
    height: 100vh;
    background: lightgray;
  }
  header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 10px;
    background: white;
  }
  .left_container {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .line {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }

  .line:hover {
    cursor: pointer;
    background: #e5e5e5;
  }

  /* HEADER */

  .logo {
    height: 20px;
    cursor: pointer;
  }

  .search_container {
    display: flex;
    height: 40px;
    flex-grow: 1;
    margin: 0 5rem 0 5rem;
    max-width: 666px;
  }
  .search_container input {
    width: 100%;
    height: 100%;
    border: solid 1px #d3d3d3;
    border-radius: 20px 0 0 20px;
    padding-left: 17px;
    font-size: 16px;
  }
  .search_button {
    width: 80px;
    height: 100%;
    border: solid 1px #d3d3d3;
    border-left: none;
    border-radius: 0 20px 20px 0;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .search_button img {
    height: 50%;
  }
  .search_button:hover .tooltip-text {
    opacity: 0.93;
    visibility: visible;
    background-color: #686868;
  }
  .search_button:hover {
    background: #d0d0d0;
  }
  .mic_icon {
    flex: 0 0 40px;
    width: 40px;
    margin-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #f2f2f2;
    position: relative;
    cursor: pointer;
  }
  .mic_icon img {
    height: 50%;
  }
  .mic_icon:hover .tooltip-text {
    opacity: 0.93;
    visibility: visible;
    background-color: #686868;
  }
  .mic_icon:hover {
    background: #d0d0d0;
  }
  .right_container {
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
  }
  .profile {
    border-radius: 20px;
    height: 32px;
  }
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    bottom: -45px;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  .tooltip:hover {
    background: gray;
  }
  .movie {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }
  .movie:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  .movie:hover {
    cursor: pointer;
    background: #e5e5e5;
  }
  .bell {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
  }
  .bell:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  .bell:hover {
    cursor: pointer;
    background: #e5e5e5;
  }
  .article_container {
    padding-left: 24px;
    padding-right: 430px;
    padding-top: 45px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  .article_video {
    width: 100%;
    aspect-ratio: 3/2;
    margin-top: 30px;
  }
  .article_video img {
    width: 1050px;
    height: 380px;
    border-radius: 12px;
  }

  .description {
    display: flex;
    gap: 10px;
  }
  .description img {
    width: 36px;
    height: 36px;
    border-radius: 18px;
  }
  .text_container {
    padding-top: 12px;
  }
  .title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    line-height: 28px;
    font-size: 20px;
    font-weight: 700;
    color: #0f0f0f;
  }
  .author {
    color: #0f0f0f;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
  }
  .statistics {
    color: #606060;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
  .bottom_icon {
    display: flex;
    margin-top: 20px;
  }

  .subscribe {
    display: flex;
    height: 40px;
    flex-grow: 1;
    margin-left: 0;
  }
  .icon_family {
    display: flex;
    padding-left: 20px;
  }
  .subscribe select {
    width: 177px;
    height: 36px;
    border: solid 1px #d3d3d3;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 36px;
  }

  .subscribe_button {
    width: 40px;
    height: 35px;
    border: solid 1px #d3d3d3;
    border-right: none;
    border-radius: 20px 0 0 20px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .subscribe_button img {
    height: 50%;
  }
  .tooltip-text {
    visibility: hidden;
    position: absolute;
    bottom: -45px;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
    font-size: 12px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
  .tooltip:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  .tooltip:hover {
    background: gray;
  }
  .left_icon {
    display: flex;
    padding-left: 200px;
  }
  .like {
    display: flex;
  }
  .like_button {
    width: 40px;
    height: 35px;
    border: solid 1px #d3d3d3;
    border-right: none;
    border-radius: 20px 0 0 20px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .like_button:hover.tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  .like_button img {
    height: 50%;
  }
  .dislike_button {
    width: 40px;
    height: 35px;
    border: solid 1px #d3d3d3;
    border-right: none;
    border-radius: 0 20px 20px 0;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  .dislike_button:hover.tooltip-text {
    opacity: 1;
    visibility: visible;
  }
  .dislike_button img {
    height: 50%;
  }
  .share_button {
    width: 177px;
    height: 36px;
    border: solid 1px #d3d3d3;
    border-radius: 20px 20px 20px 20px;
    font-size: 14px;
    line-height: 36px;
    padding-left: 20px;
  }
  .share_button img {
    height: 50%;
  }
  .elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .conteinercomment {
    width: 1040px;
    height: 100vh;
    padding-left: 24px;
    padding-top: 20px;
  }
  .elem {
    font-size: 14px;
  }