        .container {
            display: flex;
            gap: 10px;
            padding: 5px 50px;
        }

        .item:nth-child(1) {
            width: 100%;
        }

        iframe {
            width: 100%;
            aspect-ratio: 16/9;
        }

        .recommend_container {}

        .recommend {
            display: flex;
            gap: 5px;
            font-size: 14px;
            padding: 10px;
        }

        .recommend img {
            width: 170px;
        }

        .recommend_title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }

        .pc_comment_container {
            display: block;
        }

        .sp_comment_container {
            display: none;
        }

        .item:nth-child(3) {
            display: none;
        }

        @media (width < 980px) {
            .container {
                display: grid;
                grid-template-columns: 1fr;
            }

            .pc_comment_container {
                display: none;
            }

            .sp_comment_container {
                display: block;
            }

            .recommend {
                width: 100%;
            }

            .item:nth-child(3) {
                display: block;
            }
        }