* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-size: 40px;
	font-family: "Roboto";
}
.container {
	width: 100%;
	height: 100vh;
	background: #ffff;
}
header {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 20px;
	background: white;
}
header .logo {
	height: 20px;
	/* background: red; */
}

.header_container .logo:hover {
	cursor: pointer;
}
.search_container {
	display: flex;
	height: 40px;
}
.search_container input {
	width: 540px;
	height: 100%;
	border: solid 1px #d3d3d3;
	border-radius: 20px 0 0 20px;
	padding-left: 17px;
	font-size: 16px;
}
.search_button {
	width: 60px;
	height: 100%;
	border: solid 1px #d3d3d3;
	border-left: none;
	border-radius: 0 20px 20px 0;
	background: #f8f8f8;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.search_button:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}
.search_button:hover {
	background: #d0d0d0;
}
.mic_icon {
	width: 40px;
	height: 40px;
	margin-left: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background: #f2f2f2;
	position: relative;
}
.mic_icon:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}
.mic_icon:hover {
	background: #d0d0d0;
}
.right_container {
	height: 100%;
	width: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 20px;
}
.profile {
	border-radius: 15px;
	height: 30px;
	width: 30px;
}
.tooltip-text {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: 10%;
	bottom: -50px;
	display: inline-block;
	padding: 10px;
	white-space: nowrap;
	font-size: 0.8rem;
	line-height: 1.3;
	background: #5d5d5d;
	color: #fff;
	border-radius: 3px;
	transition: 0.3s ease-in;
}
.tooltip:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}
.tooltip:hover {
	background: rgba(128, 128, 128, 0.8);
}
.video {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	position: relative;
}
.video:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}
.video:hover {
	background: rgba(179, 179, 179, 0.8);
}
.bell {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	position: relative;
}
.bell:hover .tooltip-text {
	opacity: 1;
	visibility: visible;
}
.bell:hover {
	background: rgba(179, 179, 179, 0.8);
}
.content {
	width: calc(100vw - 240px);
}

.body_container {
	width: 100%;
	height: 100%;

	display: grid;
	grid-template-columns: 204px 1fr;
	margin-top: 20px;
}
.line {
	width: 220px;
	margin: 5px;
}
.side_menu {
	width: 204px;
	height: 100%;
}
.article_container {
	width: 100%;
}
.contents {
	width: 300px;
	height: 500px;
	padding: 0 12px;
}
.menu_item {
	width: 180px;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 0 12px 0 12px;
	font-size: 16px;
	color: #0f0f0f;
	border-radius: 5px;
	font-family: "Roboto";
	line-height: 24px;
}
.span {
	font-size: 14px;
}
.menu_item:hover {
	background: #f2f3f3;
	cursor: pointer;
}
.container_vidio {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 40px;
	gap: 10px;
}

@media (width < 648px) {
	.container_vidio {
		grid-template-columns: 1fr;
	}
}
@media (648px <= width < 768px) {
	.container_vidio {
		grid-template-columns: 1fr;
	}
}
@media (768px <= width < 1024px) {
	.container_vidio {
		grid-template-columns: 1fr 1fr;
	}
}
@media (1024px <= width) {
	.container_vidio {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.article_container {
		width: 100%;
	}
}

.article_container {
	width: 400px;
}
.round {
	border-radius: 14px;
	width: 400px;
	height: 225px;
}
.article_contents {
	display: flex;
}
.article_contents img {
	width: 36px;
	height: 36px;
	border-radius: 18px;
}
.article_text {
	margin-left: 10px;
}
.title {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	color: #0f0f0f;
}
.author {
	color: #606060;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.statistics {
	color: #606060;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.chips-wrapper {
	overflow-x: scroll;
	background-color: white;
	display: flex;
}
.chip {
	margin: 12px 6px;
	background-color: whitesmoke;
	padding: 6px 12px;
	border: 1px solid rgba(74, 70, 70, 0.1);
	border-radius: 16px;
	white-space: nowrap;
	cursor: pointer;
	color: black;
	transition: 0.5s;
	font-size: medium;
}
.chip:hover {
	background-color: rgba(179, 179, 179, 0.8);
}
