* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body img {
    width: 88px;
}

.container-navbar {
    justify-content: space-between;
    padding: 0 16px;
    margin-top: 10px;
    display: flexbox;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.burger-menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.youtube-logo {
    margin-right: 10px;
    margin-left: 26px;
    width: 90px;
    height: 20px;
    cursor: pointer;
}

.center-navbar {
    grid-template-columns: 6fr 1fr 1fr;
    display: grid;
    /* justify-content: start; */
}

.center-navbar input {
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    justify-content: center;
    padding-left: 20px;
    height: 40px;
    outline: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 1px solid rgb(212, 212, 212);
}

.search-iconDiv {
    position: relative;
}

.search-icon-item {
    z-index: 1;
    transition: all 0.5s ease-out;
    visibility: hidden;
    position: absolute;
    top: 55px;
    left: 5px;
    padding: 3px 6px;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.719);
}

.search-icon {
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    height: 40px;
    width: 64px;
    padding: 7px;
    margin: 0;
    border-left: 0px;
    border: 1px solid rgb(212, 212, 212);
    background: rgb(240, 240, 240);
}

.mic-icon {
    z-index: 1;
    margin-left: 16px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    padding: 8px;
    background-color: rgb(217, 217, 217);
}

.mic-iconDiv {
    position: relative;
}

.mic-icon-item {
    z-index: 1;
    transition: all 0.5s ease-out;
    visibility: hidden;
    position: absolute;
    font-size: 14px;
    top: 55px;
    padding: 3px 6px;
    border-radius: 6px;
    color: white;
    background: rgba(0, 0, 0, 0.856);
}

.end-navbar {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    justify-content: end;
    justify-items: end;
}

.profile-iconDiv,
.ring-icoDiv,
.rec-iconDiv {
    position: relative;
}

.rec-icon-item {
    left: -35px;
    position: absolute;
    color: white;
}

.ring-icon-item {
    position: absolute;
    right: -9px;
}

.profile-icon-item {
    z-index: 1;
    position: absolute;
    top: 60px;
    background: rgb(0, 0, 0);
}

.rec-icon-item,
.ring-icon-item,
.profile-icon-item {
    color: white;
    transition: all 0.5s ease-out;
    visibility: hidden;
    border-radius: 5px;
    padding: 3px 6px;
    background: rgba(0, 0, 0, 0.897);
}


.ring-icon,
.rec-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.start-navbar {
    display: flex;
    flex-direction: row;
}


/* .ring-icon,
.profile-icon {
    margin-left: 26px;
} */


.profile-icon {
    border-radius: 15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}


/* ====End Navbar====== */



/* ====start main container===== */
.main-Containers {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.right-contents {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin-right: 20px;
    margin-top: 18px;
    justify-content: space-between;
}

.article_container {
    margin-left: 5px;
}

.imgTime {
    display: flex;
    position: relative;
}

.img {
    width: 100%;
    border-radius: 10px;
}

.time {
    font-size: 12px;
    bottom: 0;
    right: 10px;
    position: absolute;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    background: #000000a1;
}

.theme {
    display: flex;
    margin-top: 10px;
}

.theme p {
    font-size: 14px;
    font-weight: 400;
}

.theme img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    object-fit: cover
}

.title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #0f0f0f;
    display: flex;
    justify-content: center;
}

.chanName {
    display: flex;
}

.nameIconFlex {
    align-items: center;
    display: flex;
    height: 22%;
}

.about {
    font-size: 14px;
    color: #606060;
    font-weight: 400;
}

.imgIcon {
    padding: 8px;
    color: #606060;
}



.container-side nav {
    margin: 10px;
}

.item div {

    margin-top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #0f0f0f;
    gap: 15px;
    padding: 0 12px;
    border-radius: 8px;
    cursor: pointer;

}



.item :hover {
    transition: all 0.5s;
    background-color: #b8b8b8;
}

.item_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0f0f0f;
}


.line {
    width: 100%;
    height: 1px;
    background-color: rgb(192, 192, 192);
}

.main-container {
    display: flex;
}


.side-home {
    width: 25px;
}