.social-bar {
    width: 100%;
    height: 100vh;
}
.title {
    width: 100%;
    font-size :20px;
    font-weight:700;
    color:rgb(15,15,15);
    margin:10px;
  }
.profile {
    display: flex;
    align-items: center;
}
.profile-info {
    display: flex;
      /* display: grid; */
      /* grid-template-columns: 40px 1fr 136px 136px 1fr 136px 86px 136px 36px; */
      width: 100%;
      justify-content: space-between;
}

.profile-left{
    display :flex;
}
.profile-right{
    display :flex;
}
.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user div:nth-child(1) {
    font-size: 16px;
  }

  .user div:nth-child(2) {
    font-size: 12px;
  }
.profile-info .name {
    font-weight: bold;
}

.profile-info .followers {
    font-size: smaller;
}

.buttons {
    display: flex;
    gap: 5px;
}

.social-button {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 14px;
    height: 36px;
}

.social-button:hover {
    background-color: #666;
}

.text-white {
    color: white;
    background: black;
}

.text-black {
    color: black;
    background: #f2f2f2;
}
.thank{
    color: black;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 14px;
    height: 36px;
}

.offline {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 8px;
    font-size: 14px;
    height: 36px;

    color: black;
    background: #f2f2f2;
  }
.text-bot{
    width:36px;
    height: 36px;
    border-radius: 18px;
    background: #f2f2f2;
    aspect-ratio: 1/1;
}

@media(width < 1500px){
    .thank{
        display:none;
    }
}

@media(width < 1200px){
    .offline{
        display:none;
    }
}

@media(width < 800px){
    .profile-info{
        flex-direction:column;
    }
    .offline{
        display:block;
    }
    .thanks{
        display:block;
    }
}