.container {
  display: flex;
  gap: 10px;
  padding: 5px 50px;
}

.item:nth-child(1) {
  width: 100%;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.recommend_container {
}

.recommend {
  display: flex;
  gap: 5px;
  font-size: 14px;
  padding: 10px;
}

.recommend img {
  width: 170px;
}

.recommend_title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.pc_comment_container {
  display: block;
}

.sp_comment_container {
  display: none;
}

.item:nth-child(3) {
  display: none;
}

@media (width < 980px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .pc_comment_container {
    display: none;
  }

  .sp_comment_container {
    display: block;
  }

  .recommend {
    width: 100%;
  }

  .item:nth-child(3) {
    display: block;
  }
}

#video_title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.channel {
  display: flex;
  align-items: center;
  padding: 5px;
}

.channel_content {
  display: flex;
  align-items: center;
  width: 100%;
  gap:25px;
}

.channel_info {
  display: flex;
  align-items: center;
}

.channel_logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.channel_name {
  font-weight: bold;
  margin-bottom: 4px;
}

.channel_subscriber_count {
  font-size: 12px;
  color: #606060;
}

.channel_button {
  color: white;
  background: black;
  border: none;
  border-radius: 24px;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}

.button-group {
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.button-group button{

    border: none;
    background-color: #c5c4c4;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 15px;
    cursor: pointer;
    width:80px;

}

.button:hover {
  background-color: #838181;
}
