body {
    background: #fde4f2;
    font-size: 30px;
}

.calculator {
    top: 10%;
    right: 40%;
    position: absolute;
    /* width: 200px; */
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calc_container {
    background-color: rgb(92, 92, 92);
    display: flex;
    margin: 15px;
    border-radius: 5px;
}

.ans {
    padding: 0 10px;
    width: 184px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #007f8094;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
}

.ans.hidden {
    visibility: hidden;
    /* display: none; */
}

.x,
.y,
.z,
.plus,
.equals {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.dentaku {
    display: grid;
    margin: 5px;
    grid-template-columns: 50px 50px 50px 50px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: rgb(120, 119, 119);
    cursor: pointer;
}

.btn_clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 47px;
    background: rgb(47 152 243 / 88%);
    cursor: pointer;
}

.btn_plus_minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 47px;
    background: rgb(47 152 243 / 88%);
    cursor: pointer;
}

.btn_percent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 47px;
    background: rgb(47 152 243 / 88%);
    cursor: pointer;
}

.btn_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #007f8094;
    cursor: pointer;
}

.btn_multi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #007f8094;
    cursor: pointer;
}

.btn_minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #007f8094;
    cursor: pointer;
}

.btn_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #007f8094;
    cursor: pointer;
}

.btn_eq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #007f8094;
    cursor: pointer;
}

.btn_0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98px;
    height: 48px;
    background: rgb(120, 119, 119);
}

.dentaku_bottom {
    display: grid;
    grid-template-columns: 100px 50px 50px;
    margin-bottom: 30px;
}