*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.article_container {
    width: 420px;
}
.article_container img {
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 12px;
}
.text_container {
    display: flex;
    gap: 12px;
}
.text_container img {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    aspect-ratio: 1/1;
}
.sarlavha {
    font-size: 16px;
    overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	line-height: 22px;
	font-weight: 500;
	color: #0f0f0f;
}
.text {
    font-size: 14px;
    line-height: 20px;
	font-weight: 400;
	color: #606060;
}
.date {
    font-size: 14px;
    line-height: 20px;
	font-weight: 400;
	color: #606060;
}