.main {
    margin-top: 10px;
    justify-content: center;
    display: flex;
}

.container-video {
    background: #fff;
    position: fixed;
    z-index: 2;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container-video {
    width: 100%;
    background: #fff;
    height: 56px;
}

.container-video-list {
    display: flex;
}


.article_video video {
    object-fit: cover;
    width: 740px;
    height: 375px;
    border-radius: 15px;
}

.video-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.item-right-video {
    margin-bottom: 15px;
    width: 400px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.video-list img {
    width: 240px;
    border-radius: 5px;
}

.container-video-list {
    display: grid;
    grid-template-columns: 750px 280px;
    gap: 20px;
}

.video-subscribe_section,
.icon_channel,
.subscribe-button {
    display: flex;
}

.video-subscribe_section {
    gap: 15px;
    margin-top: 8px;
}

.icon_channel {
    align-items: center;
}

.icon_channel img {
    margin-right: 10px;
    border-radius: 30px;
}

.name-channel-p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.subscribers-channel {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.subscribe-button {
    border-radius: 30px;
    padding: 1px 25px;
    align-items: center;
    background-color: rgb(225, 225, 225)
}

.subscribe-button img {
    width: 20px;
    object-fit: cover;
}

.subc-btn-title {
    font-size: 16px;
}

.like-button {
    border-radius: 30px;
    padding: 1px 25px;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
}

.dislike,
.like {
    cursor: pointer;
    width: 20px;
}

.stick {
    margin: 0 10px;
}

.stick {
    width: 1px;
    height: 25px;
    background: #0000003b;
}
.comment-section{
    margin: 10px 0;
    margin-bottom: 150px;
}
.input-section{
    display: flex;
}
.amount_comment{
    margin: 10px 0;
}
.myIcon{
    width: 45px;
    border-radius: 30px;
    margin-right: 20px;

}
#input-comment{
    width: 100%;
    outline: none;
   border: none;
   border-bottom: 1px solid #646464;
    
}
.button_input{
    display: flex;
    justify-content: end;
}
.button_input button{
    font-size: 14px;
}